<div class="wrap">
  <a class="y2k-brand" href="index.html">
    <img class="y2k-brand-icon" src="static/icons/gaje-icon.svg" alt="GAJE" width="26" height="26">
    <span>GAJE<span class="brand-underscore">_</span></span>
  </a>
  <div class="y2k-status" aria-hidden="true">
    <span class="y2k-status-inner">
      <span class="tick-label">SIMD ONLINE</span> :: GENOMIC COMPRESSION v1.6.0 :: Q4_0 + FP32 :: ZERO-COPY MMAP :: ISLAND MODEL .gmem &nbsp;&nbsp;&nbsp;
      <span class="tick-label">SIMD ONLINE</span> :: GENOMIC COMPRESSION v1.6.0 :: Q4_0 + FP32 :: ZERO-COPY MMAP :: ISLAND MODEL .gmem
    </span>
  </div>
  <nav class="y2k-nav" aria-label="Navegación principal">
    <a href="index.html">
      <svg class="y2k-icon"><use href="static/icons/y2k/sprite.svg#i-chat"/></svg>
      <span>Chat</span>
    </a>
    <a href="architecture.html">
      <svg class="y2k-icon"><use href="static/icons/y2k/sprite.svg#i-arch"/></svg>
      <span>Arquitectura</span>
    </a>
    <a href="docs.html">
      <svg class="y2k-icon"><use href="static/icons/y2k/sprite.svg#i-docs"/></svg>
      <span>Docs</span>
    </a>
  </nav>
  <a class="y2k-github" href="https://github.com/erickaguilar/gaje-semantic-compression" target="_blank" rel="noopener" aria-label="Repositorio de GitHub">
    <svg class="y2k-icon"><use href="static/icons/y2k/sprite.svg#i-github"/></svg>
    <span>GitHub</span>
  </a>
  <button id="theme-toggle" class="y2k-theme-btn" aria-label="Cambiar Tema">
    <svg class="y2k-theme-icon icon-sun"><use href="static/icons/y2k/sprite.svg#i-sun"/></svg>
    <svg class="y2k-theme-icon icon-moon"><use href="static/icons/y2k/sprite.svg#i-moon"/></svg>
  </button>
</div>
